<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job will run test for iTrust and package it into a war.&#xd;
The pre-push hook will then trigger deployment of this war to a remote server via Ansible</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>itrust-packaging-job-trigger</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf iTrust-v23
git clone https://{{gitent_username}}:{{gitent_password}}@github.ncsu.edu/akshetty/iTrust-v23.git -b master
echo "#!/bin/bash" >> iTrust-v23/.git/hooks/pre-push
echo "#!/bin/bash" >> iTrust-v23/.git/hooks/pre-push
echo "Auto deployment triggered" >> iTrust-v23/.git/hooks/pre-push
echo "cd /etc/playbooksRepo/devops-milestone3" >> iTrust-v23/.git/hooks/pre-push
echo "ansible-playbook deploy_iTrust.yml -i iTrust_inventory" >> iTrust-v23/.git/hooks/pre-push
chmod +x iTrust-v23/.git/hooks/pre-push
cd iTrust-v23/iTrust/
mvn clean package
mkdir -p target/META-INF
cp /etc/iTrust_mysql_config/context.xml target/META-INF/context.xml
cd target
jar -uvf iTrust-23.0.0.war META-INF/context.xml
cd ..
git push -f origin master:production
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
