<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job will run test for iTrust and package it into a war.&#xd;
It will then trigger an Ansible script in post-build action that will deploy this war file into a tomcat server</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>itrust-packaging-job-trigger</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf iTrust-v23
git clone https://{{github_username}}:{{github_password}}@github.ncsu.edu/akshetty/iTrust-v23.git -b master
echo "#!/bin/bash" >> iTrust-v23/.git/hooks/pre-push
echo "#!/bin/bash" >> iTrust-v23/.git/hooks/pre-push
echo "Auto deployment triggered" >> iTrust-v23/.git/hooks/pre-push
echo "cd /etc/playbooksRepo/devops-milestone3" >> iTrust-v23/.git/hooks/pre-push
echo "ansible-playbook deploy_iTrust.yml -i staging.yml" >> iTrust-v23/.git/hooks/pre-push
chmod +x iTrust-v23/.git/hooks/pre-push
cd iTrust-v23/iTrust/
mvn clean package
git push -f origin master:production
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>BUILD SUCCESS</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>true</EscalateStatus>
          <RunIfJobSuccessful>true</RunIfJobSuccessful>
          <script>cd {{post_build_playbook_path}}&#xd;
            ansible-playbook deploy_iTrust.yml -i staging.yml
</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers/>
</project>
